<app-header></app-header>

<body background="../../assets/images/gym4.jfif">
    <!-- <img style="width: 100%" src="../../assets/images/gym1.jpg" alt="">
    <img style="width: 100%" src="../../assets/images/gym3.jpg" alt="">
    <img style="width: 100%" src="../../assets/images/gym2.jpg" alt="">
    <img style="width: 100%" src="../../assets/images/gym4.jfif" alt=""> -->

    <div class="container">
        <h2 style="text-shadow: 2px 2px 7px white ;font-family: 'Times New Roman', Times, serif">Gyms</h2>
        <div class="col-md-3 gym-item" *ngFor="let gym of gyms">
            <!-- <img class="movie-image" src="http://localhost:4000/{{movie.image}}"> -->
            <img class="gym-image" src="../../../assets/images/gym.jpg">
            <div><strong>Gym Name: </strong>{{gym.gym_name}}</div>
            <div><strong>Gym Location: </strong>{{gym.gym_loc}}</div>
            <button type="button" class="btn btn-large btn-block btn-primary rgbtn"
                (click)="gymDetails(gym.gym_id)">Details</button>
        </div>

    </div>

</body>