.form {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /* margin: 10px; */
}

.container {
    border: solid 2px gray;
    border-radius: 7px;
    width: 100%;
}