<app-header></app-header>
<div class="col-md-12">
    <div class="container">
        <div class="text-right">
        </div>
        <h3>Owners</h3>
        <table mat-table [dataSource]="owners" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="first_name">
                <th mat-header-cell *matHeaderCellDef> First Name </th>
                <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
            </ng-container>
            <ng-container matColumnDef="last_name">
                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
            </ng-container>
            <ng-container matColumnDef="gym_name">
                <th mat-header-cell *matHeaderCellDef> Gym Name </th>
                <td mat-cell *matCellDef="let element"> {{element.gym_name}} </td>
            </ng-container>
            <ng-container matColumnDef="gym_loc">
                <th mat-header-cell *matHeaderCellDef> Gym Location </th>
                <td mat-cell *matCellDef="let element"> {{element.gym_loc}} </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef style="text-align: center"> Edit </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-success" style="margin-left: 35%;">Edit</button></td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef style="text-align: center"> Delete </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-danger" style="margin-left: 35%;">Delete</button></td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-description">
                            <h5> Phone Number : {{element.phone_no}} </h5>
                            <h5> Address: {{element.age}} </h5>
                            <span class="example-element-description-attribution"> </span>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <hr>

        <!-- <h3>Owners</h3>
        <table class="table table-fixed table-striped">
            <thead>
                <tr>
                    <th class="col-xs-2">First Name</th>
                    <th class="col-xs-1">Last Name</th>
                    <th class="col-xs-1">Address</th>
                    <th class="col-xs-1">Gender</th>
                    <th class="col-xs-1">Phone</th>
                    <th class="col-xs-1">Age</th>
                    <th class="col-xs-1">Gym Name</th>
                    <th class="col-xs-2">Gym Location</th>
                    <th class="col-xs-1">Delete</th>
                    <th class="col-xs-1">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let owner of owners">
                    <td class="col-xs-2">{{owner.first_name}}</td>
                    <td class="col-xs-1">{{owner.last_name}}</td>
                    <td class="col-xs-1">{{owner.address}}</td>
                    <td class="col-xs-1">{{owner.Gender}}</td>
                    <td class="col-xs-1">{{owner.phone_no}}</td>
                    <td class="col-xs-1">{{owner.age}}</td>
                    <td class="col-xs-1">{{owner.gym_name}}</td>
                    <td class="col-xs-2">{{owner.gym_loc}}</td>
                    <td class="col-xs-0.5"><button type="submit" class="btn btn-danger">Delete</button></td>
                    <td class="col-xs-0.5"><button type="submit" class="btn btn-success">Edit</button></td>
                </tr>
            </tbody>
        </table> -->
        <!-- ------------------------------------------------------------------------ -->
        <h3>Members </h3>
        <table mat-table [dataSource]="members" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="first_name">
                <th mat-header-cell *matHeaderCellDef> First Name </th>
                <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
            </ng-container>
            <ng-container matColumnDef="last_name">
                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
            </ng-container>
            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>
            <ng-container matColumnDef="Gender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef style="text-align: center"> Edit </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-success" style="margin-left: 35%;">Edit</button></td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef style="text-align: center"> Delete </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-danger" style="margin-left: 35%;">Delete</button></td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay1.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement1 ? 'expanded' : 'collapsed'">
                        <div class="example-element-description">
                            <h5> Phone Number : {{element.phone_no}} </h5>
                            <h5> Address: {{element.address}} </h5>
                            <h5> Weight: {{element.Weight}} </h5>
                            <h5> Height: {{element.height}} </h5>
                            <h5> Identity: {{element.identity}} </h5>
                            <span class="example-element-description-attribution"> </span>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay1"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay1;" class="example-element-row"
                [class.example-expanded-row]="expandedElement1 === element" (click)="expandedElement1 = element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <hr>
        <!-- <h3>Members</h3>
        <table class="table table-fixed table-striped">
            <thead>
                <tr>
                    <th class="col-xs-2">First Name</th>
                    <th class="col-xs-1">Last Name</th>
                    <th class="col-xs-1">Address</th>
                    <th class="col-xs-1">Gender</th>
                    <th class="col-xs-2">Phone</th>
                    <th class="col-xs-1">Age</th>
                    <th class="col-xs-1">Height</th>
                    <th class="col-xs-1">Weight</th>
                    <th class="col-xs-1">Delete</th>
                    <th class="col-xs-1">Edit</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of members">
                    <td class="col-xs-2">{{member.first_name}}</td>
                    <td class="col-xs-1">{{member.last_name}}</td>
                    <td class="col-xs-1">{{member.address}}</td>
                    <td class="col-xs-1">{{member.Gender}}</td>
                    <td class="col-xs-2">{{member.phone_no}}</td>
                    <td class="col-xs-1">{{member.age}}</td>
                    <td class="col-xs-1">{{member.height}}</td>
                    <td class="col-xs-1">{{member.Weight}}</td>
                    <td class="col-xs-0.5"><button type="submit" class="btn btn-danger">Delete</button></td>
                    <td class="col-xs-0.5"><button type="submit" class="btn btn-success">Edit</button></td>

                </tr>
            </tbody>
        </table> -->

        <br><br><br><br>
    </div>